/* Header Styles */
/* header {
  background-color: #B49BD2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  font-family: "Italiana";
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 40px;
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 20px;
}

.button-list {
  list-style: none;
  padding: 0;
  border-right: 2px solid #F6F5ED;
  margin-right: 15px;
}

.button-list li {
  display: inline;
  margin-right: 15px;
}

.button {
  background-color: transparent;
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  padding: 5px 15px;
  text-decoration: none;
  border: 2px solid #F6F5ED;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #6c63ff;
  border: 2px solid #6c63ff;
}

.search-login {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-login input {
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid #F6F5ED;
  border-radius: 50px;
  color: #F6F5ED;
  font-family: "Poppins";
}

.search-login input::placeholder {
  color: #F6F5ED;
}

.search-login input:focus {
  border-color: #B49BD2 !important;
}

.search-login button {
  margin-left: 10px;
  padding: 5px 15px;
  background-color: #F6F5ED;
  color: #B49BD2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: bold;
}

.search-login button:hover {
  color: #F6F5ED;
  background-color: #935DD3;
}

/* Responsividade do Header */
/* @media (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    margin-bottom: 10px;
    text-align: center;
  }

  nav {
    width: 100%;
    justify-content: center;
  }

  .button {
    border: none;
  }

  .button-list {
    border-right: none;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .button-list li {
    margin-bottom: 10px;
    border: none;
    display: inline-block;
    margin: 0;
  }

  .search-login {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .search-login input {
    width: 50%;
  }

  .search-login button {
    width: 25%;
  }
}  */

/* IMPORTAR A FONTE */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;600&display=swap');

header {
  background-color: #B49BD2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  font-family: 'Playfair Display', serif; /* Atualizado */
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 40px;
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 20px;
}

.button-list {
  list-style: none;
  padding: 0;
  border-right: 2px solid #F6F5ED;
  margin-right: 15px;
}

.button-list li {
  display: inline;
  margin-right: 15px;
}

.button {
  background-color: transparent;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 5px 15px;
  text-decoration: none;
  border: 2px solid #F6F5ED;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #6c63ff;
  border: 2px solid #6c63ff;
}

.search-login {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-login input {
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid #F6F5ED;
  border-radius: 50px;
  color: #F6F5ED;
  font-family: "Poppins", sans-serif;
}

.search-login input::placeholder {
  color: #F6F5ED;
}

.search-login input:focus {
  border-color: #B49BD2 !important;
}

.search-login button {
  margin-left: 10px;
  padding: 5px 15px;
  background-color: #F6F5ED;
  color: #B49BD2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.search-login button:hover {
  color: #F6F5ED;
  background-color: #935DD3;
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    margin-bottom: 10px;
    text-align: center;
  }

  nav {
    width: 100%;
    justify-content: center;
  }

  .button {
    border: none;
  }

  .button-list {
    border-right: none;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .button-list li {
    margin-bottom: 10px;
    border: none;
    display: inline-block;
    margin: 0;
  }

  .search-login {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .search-login input {
    width: 50%;
  }

  .search-login button {
    width: 25%;
  }
}



